<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Address Book</title>
    <link rel="stylesheet" href="/address/address_book.css">
    <!-- <link rel="stylesheet" href="/styles/styles.css"> -->


<body>

<h1><u>Contact List</u></h1>

<h2>Rose Bent</h2>
    <table class="contact-table">
    <thead>
        <tr>

            <th colspan="6">Contact list</th>
        </tr>
        <tr>
            <th></th>
            <th class="name-header" colspan="3">Name</th> 
            <th>Relationship</th>
            <th>Phone number</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan="6" class="rowspan"><img src="/images/contact_list_banner.webp" class="contactInfoImage" alt="Image showing a book note book and pen, a keyboard and a clock"></td>
            <td>&nbsp;</td> <!-- Empty cell -->
                <td></td>
                <td>Eve Taylor</td>
                <td>Colleague</td>
                <td>456-888-9999</td>
            </tr>
        <tr>
            <td></td>
            <td></td>
            <td>Dale Roberson</td>
            <td>Friend</td>
            <td>208-456-7890</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>Jimmy Bent</td>
            <td>Son</td>
            <td>987-654-3210</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>Alice Johnson</td>
            <td>Colleague</td>
            <td>345-567-3490</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>Bob Brown</td>
            <td>Neighbor</td>
            <td>208-457-9867</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>Eve Taylor</td>
            <td>Colleague</td>
            <td>456-888-9999</td>
        </tr>
    </tbody>
</table>

</body>

